<section class="basket-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>Войти в личный кабинет</h1>
			</div>
		</div>
	</div>
	<div class="container auth-content">
		<div class="auth-form row">
			<div class="auth-form-container col-sm-6 col-sm-offset-3 col-xs-12">
				<form action="#" name="auth-form" method="POST" id="order" enctype="multipart/form-data">
					<div class="form-group">
						<div class="form-label">Электронная почта или ИНН (для юрлиц)</div>
						<div class="form-input">
							<input type="text" name="login" class="hexa form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">
							<div class="row">
								<div class="col-sm-6 col-xs-6">Пароль</div>
								<div class="col-sm-6 col-xs-6 text-right"><a href="#" class="float-right">Забыли пароль</a></div>
							</div>
						</div>
						<div class="form-input">
							<input type="password" name="password" class="hexa form-control">
						</div>
					</div>
					<div class="form-group form-button">
						<a href="#" class="btn btn-auth">Войти</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


