<section class="basket-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>Ваша корзина</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="product-content">
			<div class="basket-items">
				<div class="basket-item">
					<div class="row basket-item-line">
						<div class="col-sm-3 line-item item-image">
							<img src="img/product-image1.png" title="" alt="">
						</div>
						<div class="col-sm-5 line-item item-name">
							<div class="name-head">
								triumph black caviar
							</div>
							<div class="name-desc">
								50г. Цена за упаковку 1000 руб.
							</div>
						</div>
						<div class="col-sm-2 line-item item-count count-but">
							<span class="count-up">+</span>
							<input type="text" name="count-product" value="1">
							<span class="count-down">-</span>
						</div>
						<div class="col-sm-2 line-item item-total total" data-price="2000">
							<span>2000</span> руб.
						</div>
					</div>
					<div class="row basket-item-line">
						<div class="col-sm-3 line-item item-image">
							<img src="img/product-image1.png" title="" alt="">
						</div>
						<div class="col-sm-5 line-item item-name">
							<div class="name-head">
								triumph black caviar
							</div>
							<div class="name-desc">
								50г. Цена за упаковку 1000 руб.
							</div>
						</div>
						<div class="col-sm-2 line-item item-count count-but">
							<span class="count-up">+</span>
							<input type="text" name="count-product" value="1">
							<span class="count-down">-</span>
						</div>
						<div class="col-sm-2 line-item item-total total" data-price="2000">
							<span>2000</span> руб.
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="basket-total">
			<div class="col-sm-6 total-promo">
				<div class="form-group">
					<input type="text" class="form-control inp-hexa" name="promo">
					<button type="submit" class="button contact-button button-modal linkButton">Применить</button>
				</div>
			</div>
			<div class="col-sm-6 total-price text-right">
				<div class="total-pr">
					Общая стоимость: <span>6000</span> руб.
				</div>
				<div class="total-discount">
					Ваша скидка <span>20</span>%
				</div>
				<div class="total-all">
					Итого:  <span>5000</span> руб.
				</div>
			</div>
		</div>
		<div class="basket-button-block">
			<div class="col-sm-6 but-area">
				<a href="#" class="btn btn-ur">Оформить заказ как юрлицо</a>
			</div>
			<div class="col-sm-6 but-area text-right">
				<a href="#" class="btn btn-fz">Оформить заказ</a>
			</div>
		</div>
	</div>
</section>


