<section class="contacts-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>Контакты</h1>
			</div>
		</div>
	</div>
	<div class="container contacts-content">
		<div class="contacts-row row">
			<div class="col-sm-6 contacts-left contacts-block">
				<div class="contacts-block-header">
					контактная информация
				</div>
				<div class="contacts-text-line">
					Адрес: Москва, ул. Наметкина 10А, к.1, офис 106
				</div>
				<div class="contacts-text-line">
					Телефон: +7 (495) 120 3999
				</div>
				<div class="contacts-text-line">
					E-mail: info@triumph-gourmet.com
				</div>
				<div class="contacts-text-line">
					Часы работы: с 09:00 до 18:00 (без обеда)
				</div>
				<div class="contacts-text-line">
					Суббота, воскресенье — выходной
				</div>
				<div class="contacts-map-block">
					<div class="contact-map" id="contact-map"></div>
				</div>
			</div>
			<div class="col-sm-6 contacts-right">
				<div class="contacts-block-header">
					Связаться с нами
				</div>
				<div class="contacts-form">
					<form action="#" name="contacts-form" method="POST" id="contacts" enctype="multipart/form-data">
						<div class="form-group">
							<div class="form-label">Как вас зовут? *</div>
							<div class="form-input">
								<input type="text" name="name" class="hexa form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="form-label">Ваш телефон *</div>
							<div class="form-input">
								<input type="text" name="phone" class="hexa form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="form-label">Электронная почта *</div>
							<div class="form-input">
								<input type="text" name="mail" class="hexa form-control">
							</div>
						</div>
						<div class="form-group">
							<div class="form-label">Ваше сообщение</div>
							<div class="form-input hexa-text">
								<textarea type="text" name="text" class="hexa form-control"></textarea>
							</div>
						</div>
						<div class="form-group form-button">
							<a href="#" class="btn btn-auth">Отправить</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


