		<section class="action-section main-action" id="">
			<div class="container">
				<div class="action-block">
					<div class="action-image">
						<img src="img/main-action.jpg" title="" alt="" class="hidden-xs">
						<img src="img/main-action-mob.jpg" title="" alt="" class="visible-xs">
					</div>
					<div class="action-text">
						<div class="">
							Летняя распродажа!
						</div>
						<div class="color-text">
							Скидка 20% на всю икру
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="footer" id="">
			<footer>
				<div class="container">
					<div class="footer-block col-sm-3">
						<div class="copy">
							&copy; 2015–2017 ООО «Триумф»
						</div>
						<div class="mail">
							<a href="mailto:info@triumph-gourmet.com" class="">info@triumph-gourmet.com</a>
						</div>
						<div class="social">
							<a href="#" class="social-icon social-facebook"><img src="img/facebook-icon.png" title="" alt=""></a>
							<a href="#" class="social-icon social-instagram"><img src="img/instagram-icon.png" title="" alt=""></a>
							<a href="#" class="social-icon social-vk"><img src="img/vk-icon.png" title="" alt=""></a>
						</div>
					</div>
					<div class="footer-block col-sm-3">
						<div class="footer-menu">
							<ul>
								<li class="head"><a href="#" class="">Компания</a></li>
								<li class=""><a href="#" class="">О нас</a></li>
								<li class=""><a href="#" class="">Партнерам</a></li>
								<li class=""><a href="#" class="">Контакты</a></li>
							</ul>
						</div>
					</div>
					<div class="footer-block col-sm-3">
						<div class="footer-menu">
							<ul>
								<li class="head"><a href="#" class="">Продукция</a></li>
								<li class=""><a href="#" class="">Триумф Black Caviar</a></li>
								<li class=""><a href="#" class="">Триумф Foie Gras</a></li>
							</ul>
						</div>
					</div>
					<div class="footer-block col-sm-3">
						<div class="footer-menu">
							<ul>
								<li class="head"><a href="#" class="">Заказ продукции</a></li>
								<li class=""><a href="#" class="">Корзина</a></li>
								<li class=""><a href="#" class="">Доставка и оплата</a></li>
								<li class=""><a href="#" class="">Войти в личный кабинет</a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</div> <!-- END WRAP -->
    <script type="text/javascript" src="js/vendors.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU" type="text/javascript"></script> 
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
