<section class="basket-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>История заказов</h1>
			</div>
		</div>
	</div>
	<div class="container history-content">
<!-- one line on history -->
		<div class="history-line row">
			<div class="history-left col-sm-6">
				<div class="row">
					<div class="col-sm-6 history-block">
						<div class="history-number">
							№123456
						</div>
 						<div class="history-price">
 							5000 руб.
 						</div>
					</div>
					<div class="col-sm-6 empty"></div>
				</div>
			</div>
			<div class="history-right col-sm-6">
				<div class="row">
					<div class="col-sm-4 history-image">
						<a href="#" class="">
							<img src="img/product-image1.png" title="" alt="">
						</a>
					</div>
					<div class="col-sm-8 history-title">
						<a href="#" class="">Triumph Black Caviar</a>
						<div class="">2 упаковки по 50 г.</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 history-image">
						<a href="#" class="">
							<img src="img/product-image1.png" title="" alt="">
						</a>
					</div>
					<div class="col-sm-8 history-title">
						<a href="#" class="">Triumph Foie Gras</a>
						<div class="">5 упаковк по 50 г.</div>
					</div>
				</div>
			</div>
		</div>
<!-- one line on history -->
		<div class="history-line row">
			<div class="history-left col-sm-6">
				<div class="row">
					<div class="col-sm-6 history-block">
						<div class="history-number">
							№123456
						</div>
 						<div class="history-price">
 							5000 руб.
 						</div>
					</div>
					<div class="col-sm-6 empty"></div>
				</div>
			</div>
			<div class="history-right col-sm-6">
				<div class="row">
					<div class="col-sm-4 history-image">
						<a href="#" class="">
							<img src="img/product-image1.png" title="" alt="">
						</a>
					</div>
					<div class="col-sm-8 history-title">
						<a href="#" class="">Triumph Black Caviar</a>
						<div class="">2 упаковки по 50 г.</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 history-image">
						<a href="#" class="">
							<img src="img/product-image1.png" title="" alt="">
						</a>
					</div>
					<div class="col-sm-8 history-title">
						<a href="#" class="">Triumph Foie Gras</a>
						<div class="">5 упаковк по 50 г.</div>
					</div>
				</div>
			</div>
		</div>
<!-- one line on history -->
	</div>
</section>


