<section class="catalog-top" id="">
	<div class="container">
		<div class="catalog-top-block catalog-top-items row">
			<div class="col-sm-6 catalog-item product-item">
				<div class="product-container">
					<div class="product-item-image" style="background-image: url(img/product-image1.png);"><a href="#" class=""></a></div>
					<div class="product-item-brand">
						Триумф
					</div>
					<div class="product-item-name">Black Caviar</div>
					<div class="product-item-description">
						Оптовый поставщик. Производится и фасуется по контракту в России, только из лучшего сырья.
					</div>
					<div class="product-item-button">
						<a href="#" class="btn btn-more">Узнать больше</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 catalog-item product-item">
				<div class="product-container">
					<div class="product-item-image" style="background-image: url(img/product-image1.png);"><a href="#" class=""></a></div>
					<div class="product-item-brand">
						Триумф
					</div>
					<div class="product-item-name">Black Caviar</div>
					<div class="product-item-description">
						Оптовый поставщик. Производится и фасуется по контракту в России, только из лучшего сырья.
					</div>
					<div class="product-item-button">
						<a href="#" class="btn btn-more">Узнать больше</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


