<section class="top-main-panel">
	<div class="panel-bg-block">
		<div class="container">
			<div class="logo-block main-logo-block">
				<img src="img/main-logo.png" title="logo" alt="logo">
			</div>
			<div class="main-panel-text main-slogan">
				Контрактное производство и поставка<br>изысканных деликатесов высочайшего уровня.
			</div>
		</div>
	</div>
	<div class="top-panel-after">
		<img src="img/panel-after.png" title="" alt="">
	</div>
</section>
