<section class="basket-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>Оформление заказа для физических лиц</h1>
			</div>
		</div>
	</div>
	<div class="container order-content">
		<div class="col-sm-6 order-column">
			<div class="order-form">
				<form action="#" name="order-form" method="POST" id="order" enctype="multipart/form-data">
					<div class="form-group">
						<div class="form-label">Как вас зовут? *</div>
						<div class="form-input">
							<input type="text" name="name" class="hexa form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Ваш телефон *</div>
						<div class="form-input">
							<input type="text" name="phone" class="hexa form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Электронная почта *</div>
						<div class="form-input">
							<input type="text" name="mail" class="hexa form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Адрес доставки *</div>
						<div class="form-input">
							<input type="text" name="address" class="hexa form-control">
						</div>
					</div>
					<div class="form-group form-radio">
						<input type="radio" name="delivery" class="hexa form-radio" id="delivery1">
						<label class="form-label" for="delivery1">Самовывоз</label>
					</div>
					<div class="form-group form-radio bordered">
						<input type="radio" name="delivery" class="hexa form-radio" id="delivery2">
						<label class="form-label" for="delivery2">Доставка курьером по Москве в пределах МКАД — 300 руб</label>
					</div>
					<div class="form-group form-radio">
						<input type="radio" name="delivery" class="hexa form-radio" id="delivery3">
						<label class="form-label" for="delivery3">Доставка курьером по Московской области (до 20км от МКАД) — 500 руб</label>
					</div>
					<div class="form-group form-checkbox">
						<input type="checkbox" name="delivery" class="hexa form-checkbox" id="policy" checked>
						<label class="form-label" for="policy">Я принимаю условия <a href="#" class="">Соглашения по работе с персональными данными</a></label>
					</div>
					<div class="form-group form-button">
						<a href="#" class="btn btn-ordered">Заказать за <span>5000</span> руб.</a>
					</div>
					<div class="other-order-link">
						<div class="">
							<a href="#" class="">Оформить заказ как юридическое лицо</a>
						</div>
						<div class="">
							Наш менеджер вам перезвонит для подтверждения заказа. С физическими лицами наличный расчет.  Для юридических лиц у нас предоставляются скидки.
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="col-sm-6 order-text-column">
			<p>
				Если вы оформляете заказ впервые, вам на почту придет письмо с паролем. Если вы уже заказывали, тогда <a href="#" class="">авторизуйтесь</a>, чтобы посмотреть историю заказов.
			</p>
		</div>
	</div>
</section>

