<section class="catalog-top" id="">
	<div class="container">
		<div class="catalog-top-block catalog-top-items row">
			<div class="pager-list">
				<div class="pager-item">
					<a href="/index.html" class="" onclick="pager(this);return false;">Главная (стандарт)</a>
				</div>
				<div class="pager-item">
					<a href="/index-autorized.html" class="" onclick="pager(this);return false;">Главная (авторизованный)</a>
				</div>
				<div class="pager-item">
					<a href="/products.html" class="" onclick="pager(this);return false;">Продукты</a>
				</div>
				<div class="pager-item">
					<a href="/product.html" class="" onclick="pager(this);return false;">Продукт</a>
				</div>
				<div class="pager-item">
					<a href="/product-autorized.html" class="" onclick="pager(this);return false;">Продукт (авторизован)</a>
				</div>
				<div class="pager-item">
					<a href="/auth.html" class="" onclick="pager(this);return false;">Авторизация</a>
				</div>
				<div class="pager-item">
					<a href="/basket.html" class="" onclick="pager(this);return false;">Корзина</a>
				</div>
				<div class="pager-item">
					<a href="/contats.html" class="" onclick="pager(this);return false;">Контакты</a>
				</div>
				<div class="pager-item">
					<a href="/history.html" class="" onclick="pager(this);return false;">История заказов</a>
				</div>
				<div class="pager-item">
					<a href="/order-personal.html" class="" onclick="pager(this);return false;">Оформление заказа</a>
				</div>
				<div class="pager-item">
					<a href="/order-company.html" class="" onclick="pager(this);return false;">Оформление заказа (Компания)</a>
				</div>
				<div class="pager-item">
					<a href="/profile-persona.html" class="" onclick="pager(this);return false;">Профиль</a>
				</div>
				<div class="pager-item">
					<a href="/profile-company.html" class="" onclick="pager(this);return false;">Профиль (Компания)</a>
				</div>
				<div class="pager-item">
					<a href="/restore-password.html" class="" onclick="pager(this);return false;">Восстановление пароля</a>
				</div>
				<div class="pager-item">
					<a href="/texts.html" class="" onclick="pager(this);return false;">Текстовая страница</a>
				</div>
				<div class="pager-item">
					<a href="/thanks.html" class="" onclick="pager(this);return false;">Заказ оформлен</a>
				</div>
				<div class="pager-pack">
					<a href="/ikra/build.rar" download>Скачать архив</a>
				</div>
			</div>
		</div>
	</div>
</section>
<style type="text/css">
	.pager-item {
		padding-bottom: 10px;
	}
	.pager-item a {
		font-size: 18px;
	}
</style>
<script type="text/javascript">
	pager = function (h) {
		var url = window.location.href.replace('/pager.html','') + h.getAttribute("href");
		var win = window.open(url, '_blank');
  			win.focus();
	}
</script>

