<section class="product-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-type">
				продукция
			</div>
			<div class="page-title">
				<h1>Триумф Black Caviar</h1>
			</div>
			<div class="page-description">
				Оптовый поставщик. Производится и фасуется по контракту в России, только из лучшего сырья.
			</div>
		</div>
	</div>
	<div class="container">
		<div class="product-content">
			<div class="col-sm-8 product-image">
				<div class="big-product-image" style="background-image: url(img/big-product.jpg);"></div>
				<div class="smal-image-list row">
					<div class="small-image-item col-sm-1"><div class="image" style="background-image: url(img/big-product.jpg);"></div></div>
					<div class="small-image-item col-sm-1"><div class="image" style="background-image: url(img/big-product.jpg);"></div></div>
					<div class="small-image-item col-sm-1"><div class="image" style="background-image: url(img/big-product.jpg);"></div></div>
					<div class="small-image-item col-sm-1"><div class="image" style="background-image: url(img/big-product.jpg);"></div></div>
					<div class="small-image-item col-sm-1"><div class="image" style="background-image: url(img/big-product.jpg);"></div></div>
					<div class="small-image-item col-sm-1"><div class="image" style="background-image: url(img/big-product.jpg);"></div></div>
					<div class="small-image-item col-sm-1"><div class="image" style="background-image: url(img/big-product.jpg);"></div></div>
				</div>
				<div class="description-text">
					Икринки среднего размера 2-2,5 мм имеют ярко выраженные оттенки черного и черно-серого цвета. Очень мягкая оболочка икринок, легко лопается на языке, практически отсутствует рыбный запах, имеет ореховое послевкусие.
				</div>
			</div>
			<div class="col-sm-4 product-column">
				<div class="prouct-but-block">
					<div class="but-block">
						<div class="weight-block">
							<div class="label">Вес/Обьем</div>
							<div class="weight-select">
								<select name="weight">
									<option value="100">100 ГР.</option>
									<option value="100">200 ГР.</option>
									<option value="100">300 ГР.</option>
									<option value="100">400 ГР.</option>
								</select>
							</div>
						</div>
						<div class="count-block">
							<div class="label">Количество</div>
							<div class="count-but">
								<span class="count-up">+</span>
								<input type="text" name="count-product" value="1">
								<span class="count-down">-</span>
							</div>
						</div>
						<div class="total-block">
							<div class="label">Общая стоимость</div>
							<div class="total" data-price="2000">
								<span>2000</span> руб.
							</div>
						</div>
						<div class="button-block">
							<a href="#" class="basket-but">
								В корзину
							</a>
						</div>
					</div>
				</div>
				<div class="delivery-text">
					Доставим за 5 дней в пределах МКАД.<br>
					В подмосковье 300 руб. Возможен самовывоз. Возможна доставка по всей России.
					<a href="#" class="">Узнать больше о доставке</a>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="dop-block">
					<div class="dop-title">
						С этим товаром часто покупают
					</div>
					<div class="dop-product">
						<div class="dop-image col-sm-6">
							<img src="img/product-image1.png" title="" alt="">
						</div>
						<div class="dop-text col-sm-6">
							<div class="product-item-brand">
								Триумф
							</div>
							<div class="product-item-name">Black Caviar</div>
							<div class="product-item-description">
								Производится по контракту во Франции.
							</div>
							<div class="product-item-button">
								<a href="#" class="btn btn-more">Узнать больше</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- MODAL -->
<div id="modalBuy" class="popup-window modal">
	<div class="popup-window-content modal-content">
		<div class="popup-product-container">
			<div class="popup-product">
				<div class="dop-image col-sm-6">
					<img src="img/product-image1.png" title="" alt="">
				</div>
				<div class="dop-text col-sm-6">
					<div class="product-item-brand">
						Триумф
					</div>
					<div class="product-item-name">Black Caviar</div>
					<div class="product-item-description">
						Оптовый поставщик. Производится и фасуется по контракту в России, только из лучшего сырья.
					</div>
					<div class="col-sm-12 modal-basket">
						<div class="modal-busket-container">
							<div class="">Сейчас в вашей корзине</div>
							<div class="modal-basket-cout">
								2 товара на сумму 5000 руб.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<span class="popup-window-close-icon popup-window-titlebar-close-icon"></span>
		<div class="popup-window-buttons">
			<div class="col-sm-6">
				<a class="bx_medium bx_bt_button btn modal-cancel">Продолжить покупки</a>
			</div>
			<div class="col-sm-6">
				<a class="bx_medium bx_bt_button btn">Перейти в корзину</a>
			</div>
		</div>
	</div>
</div>
<!-- END MODAL -->
