<section class="basket-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>Ваш профиль</h1>
			</div>
		</div>
	</div>
	<div class="container auth-content profile-page">
		<div class="auth-form row">
			<div class="auth-form-container restore-password col-sm-6 col-xs-12">
				<form action="#" name="restore-form" method="POST" id="restore" enctype="multipart/form-data">
					<div class="form-group group-title">
						Основные данные
					</div>
					<div class="form-group">
						<div class="form-label">Наименование компании *</div>
						<div class="form-input">
							<input type="text" name="company-name" class="hexa form-control" value="Герасимов иван">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Адрес юридический *</div>
						<div class="form-input">
							<input type="text" name="addres-ur" class="hexa form-control" value="Москва, краснопресненская 1-56">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Адрес фактический *</div>
						<div class="form-input">
							<input type="text" name="addres-fakt" class="hexa form-control" value="Москва, краснопресненская 1-56">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">ИНН *</div>
						<div class="form-input">
							<input type="text" name="inn" class="hexa form-control" value="1123123123123">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">КПП *</div>
						<div class="form-input">
							<input type="text" name="inn" class="hexa form-control" value="90876574568798">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Р/с *</div>
						<div class="form-input">
							<input type="text" name="r-s" class="hexa form-control" value="123243987654635457689">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Кор/с *</div>
						<div class="form-input">
							<input type="text" name="kor-s" class="hexa form-control" value="12362451342543752634512">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">БИК *</div>
						<div class="form-input">
							<input type="text" name="bik" class="hexa form-control" value="1123123123123">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Банк *</div>
						<div class="form-input">
							<input type="text" name="bank" class="hexa form-control" value="сбербанк">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Контактный телефон *</div>
						<div class="form-input">
							<input type="text" name="phone" class="hexa form-control" value="+7 123 456 78 90">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Электронная почта *</div>
						<div class="form-input">
							<input type="text" name="mail" class="hexa form-control" value="mail@gmail.com">
						</div>
					</div>
					<div class="form-group group-title">
						Сменить пароль
					</div>
					<div class="form-group">
						<div class="form-label">Старый пароль *</div>
						<div class="form-input">
							<input type="text" name="old-pass" class="hexa form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Новый пароль *</div>
						<div class="form-input">
							<input type="text" name="new-pass" class="hexa form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Повторите новый пароль *</div>
						<div class="form-input">
							<input type="text" name="control-pass" class="hexa form-control">
						</div>
					</div>
					<div class="form-group form-button">
						<a href="#" class="btn btn-auth">Сохранить</a>
					</div>
				</form>
			</div>
			<div class="col-sm-6 discount-profile">
				<div class="discount-block">
					<div class="discount-size">
						20%
					</div>
					<div class="discount-text">
						ваша персональная скидка
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

