<section class="basket-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>Ваш профиль</h1>
			</div>
		</div>
	</div>
	<div class="container auth-content profile-page">
		<div class="auth-form row">
			<div class="auth-form-container restore-password col-sm-6 col-xs-12">
				<form action="#" name="restore-form" method="POST" id="restore" enctype="multipart/form-data">
					<div class="form-group group-title">
						Основные данные
					</div>
					<div class="form-group">
						<div class="form-label">Как вас зовут? *</div>
						<div class="form-input">
							<input type="text" name="name" class="hexa form-control" value="Герасимов иван">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Ваш телефон *</div>
						<div class="form-input">
							<input type="text" name="phone" class="hexa form-control" value="+7 123 456 78 90">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Электронная почта *</div>
						<div class="form-input">
							<input type="text" name="mail" class="hexa form-control" value="mail@gmail.com">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Адрес доставки *</div>
						<div class="form-input">
							<input type="text" name="address-shiping" class="hexa form-control" value="mail@gmail.com">
						</div>
					</div>
					<div class="form-group group-title">
						Сменить пароль
					</div>
					<div class="form-group">
						<div class="form-label">Старый пароль *</div>
						<div class="form-input">
							<input type="text" name="old-pass" class="hexa form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Новый пароль *</div>
						<div class="form-input">
							<input type="text" name="new-pass" class="hexa form-control">
						</div>
					</div>
					<div class="form-group">
						<div class="form-label">Повторите новый пароль *</div>
						<div class="form-input">
							<input type="text" name="control-pass" class="hexa form-control">
						</div>
					</div>
					<div class="form-group form-button">
						<a href="#" class="btn btn-auth">Сохранить</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

