<section class="basket-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>Восстановление пароля</h1>
			</div>
		</div>
	</div>
	<div class="container auth-content">
		<div class="auth-form row">
			<div class="auth-form-container restore-password col-sm-6 col-sm-offset-3 col-xs-12">
				<form action="#" name="restore-form" method="POST" id="restore" enctype="multipart/form-data">
					<div class="form-group">
						<div class="form-label">Электронная почта или ИНН (для юрлиц)</div>
						<div class="form-input">
							<input type="text" name="login" class="hexa form-control">
						</div>
					</div>
					<div class="form-group form-button">
						<a href="#" class="btn btn-auth">Напомнить пароль</a>
					</div>
					<div class="form-group form-button">
						<p>
							Новый пароль будет отправлен вам на почту,<br>указанную при регистрации
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


