<section class="texts-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>Доставка и оплата</h1>
			</div>
		</div>
	</div>
	<div class="container texts-content">
		<div class="texts-block">
			<div class="texts-header">
				Способы доставки
			</div>
			<div class="texts-body">
				<p>
					Икра относится к скоропортящимся продуктам, поэтому условиям доставки мы уделяем особое внимание. С производства икра на рефрижераторах доставляется в Московский офис продаж, где хранится в специальных холодильниках. Курьер производит доставку продукции с использованием специального переносного холодильника. Поэтому икра поступает к вам свежей, а главное - сохранившей настоящий вкус Русской икры.
				</p>
				<p>
					— Доставка по Москве (в пределах МКАД) - 300 руб. в будние дни, 500 руб. в выходные и праздничные дни.
				</p>
				<p>
					— Доставка по Московской области (до 20 км от МКАД) - 500 руб. в будние дни, 1000 руб. в выходные и праздничные дни.
				</p>
			</div>
		</div>
		<div class="texts-block">
			<div class="texts-header">
				Описание процессa оплаты
			</div>
			<div class="texts-body">
				<p>
					При выборе формы оплаты с помощью пластиковой карты проведение платежа по заказу производится непосредственно после его оформления. После завершения оформления заказа в нашем магазине, Вы должны будете нажать на кнопку «Оплата банковской картой», при этом система переключит Вас на страницу авторизационного сервера, где Вам будет предложено ввести данные пластиковой карты, инициировать ее авторизацию, после чего вернуться в наш магазин кнопкой "Вернуться в магазин". После того, как Вы возвращаетесь в наш магазин, система уведомит Вас о результатах авторизации. В случае подтверждения авторизации Ваш заказ будет автоматически выполняться в соответствии с заданными Вами условиями. В случае отказа в авторизации карты Вы сможете повторить процедуру оплаты.
				</p>
			</div>
		</div>
	</div>
</section>


