<section class="basket-page-section" id="">
	<div class="page-header">
		<div class="container">
			<div class="page-title">
				<h1>Ваш заказ оформлен!</h1>
			</div>
		</div>
	</div>
	<div class="container thanks-content">
		<div class="thanks-body">
			<div class="thanks-title">
				Номер заказа — 123456
			</div>
			<div class="thanks-text">
				Наш менеджер вам перезвонит для подтверждения заказа.<br>
				А также мы отправили письмо вам на почту.<br>
				Спасибо за то, что выбрали нас!
			</div>
		</div>
	</div>
</section>

