<section class="top-menu" id="">
	<div class="container">
		<div class="visible-xs mob-menu-phone">
			<div class="mob-phone">
				<a href="tel:+74951203999" class="">+7 (495) 120 3999</a>
			</div>
			<div class="mob-phone-text">
				Оптово-розничные продажи
			</div>
		</div>
		<nav class="col-sm-9">
			<ul>
				<li><a href="#" class="visible-xs">Продукци</a></li>
				<li><a href="#" class="">О нас</a></li>
				<li><a href="#" class="">Партнерам</a></li>
				<li><a href="#" class="">Доставка и оплата</a></li>
				<li><a href="#" class="">Контакты</a></li>
			</ul>
		</nav>
		<div class="col-sm-3">
			<div class="acount-button">
				<a href="#" class="btn">Войти в личный кабинет</a>
			</div>
		</div>
	</div>
</section>
<section class="top-panel" id="">
	<div class="container">
		<div class="col-xs-4 visible-xs mob-link">
			<div class="mob-menu-but">
				<img src="img/menu-icon-mob.png" title="" alt="" class="norm">
				<img src="img/menu-icon-act-mob.png" title="" alt="" class="act">
			</div>
		</div>
		<div class="col-sm-3 col-xs-4 panel-block logo-block">
			<img src="img/main-logo.png" title="" alt="">
		</div>
		<div class="col-sm-3 panel-block phone-block main-phone">
			<div class="phone">
				<a href="tel:+7 (495) 120 3999" class="">+7 (495) 120 3999</a>
			</div>
			<div class="text">
				Оптово-розничные продажи
			</div>
		</div>
		<div class="col-sm-3 panel-block phone-block">
			<div class="phone">
				<a href="tel:+7 (495) 120 3999" class="">Бесплатный звонок по всей Росси</a>
			</div>
			<div class="text">
				Заказы принимаются с 9:00 до 18:00
			</div>
		</div>
		<div class="col-sm-3 panel-block basket-block">
			<div class="basket">
				<a href="#" class="">Ваша корзина</a>
			</div>
			<div class="text">
				Пока что здесь пусто
			</div>
		</div>
		<div class="col-xs-4 visible-xs mob-link text-right">
			<div class="cart-link">
				<a href="#" class="">
					<img src="img/cart-icon-mob.png" title="" alt="">
				</a>
			</div>
		</div>
	</div>
</section>