<section class="top-menu top-menu-main visible-xs" id="">
	<div class="container">
		<div class="visible-xs mob-menu-phone">
			<div class="mob-phone">
				<a href="tel:+74951203999" class="">+7 (495) 120 3999</a>
			</div>
			<div class="mob-phone-text">
				Оптово-розничные продажи
			</div>
		</div>
		<nav class="col-sm-9">
			<ul>
				<li><a href="#" class="visible-xs">Продукци</a></li>
				<li><a href="#" class="">О нас</a></li>
				<li><a href="#" class="">Партнерам</a></li>
				<li><a href="#" class="">Доставка и оплата</a></li>
				<li><a href="#" class="">Контакты</a></li>
			</ul>
		</nav>
		<div class="col-sm-3">
			<div class="acount-button">
				<a href="#" class="btn">Войти в личный кабинет</a>
			</div>
		</div>
	</div>
</section>
<section class="top-main-panel">
	<div class="panel-bg-block">
		<div class="container">
			<div class="col-xs-4 visible-xs mob-link">
				<div class="mob-menu-but">
					<img src="img/menu-icon-mob.png" title="" alt="" class="norm">
					<img src="img/menu-icon-act-mob.png" title="" alt="" class="act">
				</div>
			</div>
			<div class="logo-block main-logo-block col-xs-4 col-sm-12">
				<img src="img/main-logo.png" title="logo" alt="logo">
			</div>
			<div class="col-xs-4 visible-xs mob-link text-right">
				<div class="cart-link">
					<a href="#" class="">
						<img src="img/cart-icon-mob.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="main-panel-text main-slogan">
				Контрактное производство и поставка<br>изысканных деликатесов высочайшего уровня.
			</div>
		</div>
	</div>
	<div class="top-panel-after">
		<img src="img/panel-after.png" title="" alt="">
	</div>
</section>
