.selection-type-page .selection-parameters .select-item .ui-widget.ui-widget-content {
	margin-bottom: 14px;
}
.selection-type-page .selection-parameters .filterBTN {
	position: absolute;
	top: 110%;
	background: #fff;
    border: 2px solid #cb8950;
    color: #cb8950;
    left: 15px;
    right: 14px;
    z-index: 100;
        transition: all .3s ease-in-out;
}
.selection-type-page .selection-parameters .filterBTN:hover {
    color: #fff;
    background: #00284f;
    border-color: #00284f;
}
.about-ostrovskogo .section-bg-block {
	/*transform: scale(-1, 1);*/
}
.selection-type-page .selection-columns .column-row {
    height: calc(100vh - 128px - 88px);
}
.selection-type-page .selection-columns .column-row .selection-center .selected-list-items {
    max-height: calc(100vh - 128px - 88px - 33px);
}
section.select-section-page {
	min-height: calc(100vh - 88px) !important;
}
.select-floor-page .select-floor-and-section .select-by-params .select-by-params-block {
    z-index: 10;
}