@import "css/partials/bootstrap/bootstrap.min.css";
@import "css/partials/animate.css";
@import "css/partials/font-awesome.css";
@import "css/partials/owl.carousel.css";
@import "../bower_components/jquery-ui/themes/base/jquery-ui.css";
@import "../bower_components/swipebox/src/css/swipebox.css";
@import "../bower_components/photoswipe/dist/photoswipe.css";
@import "../bower_components/photoswipe/dist/default-skin/default-skin.css";
@font-face {
    font-family: "Oranienbaum";
    src: url("fonts/Oranienbaum.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(fonts/PtSerif.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(fonts/PtSerif-700.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(fonts/PtSans.woff2) format('woff2');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(fonts/PtSans-700.woff2) format('woff2');
}
body {
    font-family: 'Oranienbaum', serif;
    color: #144880;
}
.main-wrapp {
    max-width: 1170px;
    margin: 0 auto;
}
@media all and (min-width: 1440px) {
    .main-wrapp {
        max-width: 1440px;
    }
}
.top-main-panel {
    text-align: center;
    .panel-bg-block {
        background: #144880;
        padding-bottom: 26px;
    }
    .logo-block {
        padding: 50px 0 30px 0;
        img {
            display: inline-block;
            margin: 0 auto;
        }
    }
    .main-slogan {
        font-size: 36px;
        color: #fff;
    }
    .top-panel-after {
        display: block;
        width: 100%;
        min-height: 48px;
        img {
            width: 100%;
        }
    }
}
.btn {
    background: #db7b32;
    position: relative;
    color: #fff;
    text-decoration: none;
    min-width: 176px;
    display: inline-block;
    border-radius: 0;
    &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: -18px;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-right: 17px solid #db7b32;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    &:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        right: -18px;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 17px solid #db7b32;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        /*&:before {
            transform: rotateY(-180deg);
        }
        &:after {
            transform: rotateY(-180deg);
        }*/
    }
}
.catalog-top {
    padding: 50px 0;
}
.product-item {
    .product-container {
        max-width: 350px;
        margin: 0 auto;
        display: block;
        text-align: center;
        box-shadow: 0 0 0 0 #ddd;
        border-radius: 10px;
        padding-bottom: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        .product-item-image {
            position: relative;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
            }
            &:before {
                content: '';
                display: block;
                padding-top: 100%;
            }
        }
        .product-item-brand {
            font-family: 'PT Serif', serif;
            font-weight: bold;
            font-size: 12px;
            color: #db7b32;
            text-transform: uppercase;
        }
        .product-item-name {
            color: #db7b32;
            font-size: 40px;
        }
        .product-item-description {
            font-family: 'PT Sans', sans-serif;
            font-weight: bold;
            color: #000;
            font-size: 14px;
            padding-bottom: 20px;
            height: 60px;
            overflow: hidden;
        }
        &:hover {
            box-shadow: 0 0 3px 0 #ddd;
        }
    }
}
.main-action {
    margin-bottom: 24px;
}
.action-block {
    position: relative;
    .action-image {
        img {
            width: 100%;
        }
    }
    .action-text {
        position: absolute;
        width: 50%;
        left: 0;
        top: 0;
        padding: 26px 50px;
        font-size: 36px;
        color: #144880;
        .color-text {
            color: #db7b32;
        }
    }
}
.footer {
    margin-top: 50px;
    background: #eaeff4;
    font-size: 14px;
    padding: 30px 0;
    a {
        text-decoration: underline;
    }
    .copy {
        margin-bottom: 6px;
    }
    .social {
        margin-top: 12px;
        .social-icon {
            display: inline-block;
            margin-right: 8px;
        }
    }
    .footer-menu {
        ul {
            list-style: none;
            li {
                margin-bottom: 6px;
                a {
                    text-decoration: underline;
                    color: #0b5ca2;
                }
                &.head {
                    font-weight: 700;
                }
            }
        }
    }
}
.top-menu {
    background: #0a3059;
    padding: 7px 0;
    nav {
        padding: 4px 0;
        ul {
            li {
                display: inline-block;
                margin-right: 40px;
                a {
                    color: #7fa5ce;
                    font-size: 10px;
                    text-transform: uppercase;
                    font-family: 'PT Serif', serif;
                    font-weight: bold;
                }
            }
        }
    }
    .acount-button {
        a {
            color: #fff;
        }
        .btn {
            display: block;
            width: 100%;
        }
    }
    .bottom-autorized {
        text-align: right;
        padding: 0;
        ul {
            margin-bottom: 0;
            li {
                margin-right: 20px;
                margin-left: 20px;
                .btn {
                    font-size: 14px;
                    text-transform: none;
                }
            }
        }
    }
}
.top-panel {
    background: #144880;
    .panel-block {
        padding: 20px 0;
        text-align: center;
        font-size: 14px;
        color: #7fa5ce;
        font-family: 'PT Sans', sans-serif;
        a {
            color: #fff;
            font-family: 'PT Serif', serif;
            font-weight: bold;
        }
        &.phone-block {
            &.main-phone {
                padding: 14px 0;
                a {
                    font-size: 22px;
                }
            }
        }
        &.logo-block {
            text-align: left;
        }
        &.basket-block {
            background: #255b95;
        }
    }
}
.page-header {
    margin: 0 0 50px 0;
    padding: 20px 0 30px 0;
    background: #fbf2ea;
    text-align: center;
    font-size: 12px;
    color: #db7b32;
    .page-type {
        font-family: 'PT Serif', serif;
        text-decoration: underline;
    }
    .page-title {
        margin-bottom: 20px;
        h1 {
            font-size: 60px;
            line-height: 36px;
        }
    }
    .page-description {
        font-size: 14px;
        color: #000;
        font-weight: bold;
    }
}
.product-content {
    .big-product-image {
        width: 100%;
        background-size: cover;
        &:before {
            content: '';
            display: block;
            padding-top: 70%;
            background-position: center;
        }
    }
    .smal-image-list {
        padding: 15px 0;
        .small-image-item {
            padding-left: 15px;
            padding-right: 0px;
            .image {
                background-size: cover;
                background-position: center;
                cursor: pointer;
                border: 2px solid transparent;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                &.active {
                    border: 2px solid #db7b32;
                }
                &:before {
                    content: '';
                    display: block;
                    padding-top: 100%;
                }
            }
        }
    }
    .description-text {
        padding: 10px 0 40px 0;
        font-size: 14px;
        font-family: 'PT Sans', sans-serif;
    }
    .dop-block {
        .dop-title {
            font-size: 18px;
            font-family: 'PT Serif', serif;
            font-weight: 700;
            color: #000;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .dop-product {
            background: #faf1e9;
            margin: 30px 0 50px 0;
            &:before {
                content: '';
                display: table;
                clear: both;
            }
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            .dop-text {
                text-align: center;
                padding: 60px 0 0 0;
                .product-item-brand {
                    font-size: 12px;
                    color: #db7b32;
                    text-transform: uppercase;
                }
                .product-item-name {
                    color: #db7b32;
                    font-size: 40px;
                }
                .product-item-description {
                    font-family: 'PT Sans',sans-serif;
                    font-weight: 700;
                    color: #000;
                    font-size: 14px;
                    padding-bottom: 20px;
                    height: 60px;
                    overflow: hidden;
                }
            }
        }
    }
    .prouct-but-block {
        position: relative;
        border: 2px solid #db7b32;
        text-align: center;
        font-size: 14px;
        font-family: 'PT Sans', sans-serif;
        padding: 0px 20px;
        margin-bottom: 50px;
        &:before {
            content:'';
            display: block;
            position: absolute;
            border-right: 2px solid #db7b32;
            top: -14px;
            left: -14px;
            transform: rotate(45deg);
            background: #fff;
            width: 26px;
            height: 26px;
        }
        &:after {
            content:'';
            display: block;
            position: absolute;
            border-left: 2px solid #db7b32;
            top: -14px;
            right: -14px;
            transform: rotate(-45deg);
            background: #fff;
            width: 26px;
            height: 26px;
        }
        .label {
            color: #000;
            padding: 20px 0px 6px 0;
            display: block;
            &:before {
                content: '';
                display: table;
                clear: both;
            }
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
        .weight-select {
            background-image: url(img/select-bg.png);
            display: block;
            padding: 6px 40px;
            background-size: 100%;
            select {
                cursor: pointer;
                outline: none;
                background: #fbf2ea;
                width: 100%;
                border: none;
                text-align: center;
                font-size: 18px;
                color: #0a3059;
                background-repeat: no-repeat;
                -webkit-appearance: button;
                -moz-appearance: button;
                -webkit-user-select: none;
                -moz-user-select: none;
                -webkit-padding-end: 20px;
                -moz-padding-end: 20px;
                -webkit-padding-start: 2px;
                -moz-padding-start: 2px;
            }
        }
    }
    .delivery-text {
        text-align: center;
        color: #000;
        font-size: 14px;
        font-family: 'PT Sans', sans-serif;
        a {
            display: block;
            width: 100%;
            text-decoration: underline;
            color: #db7b32;
            margin-top: 20px;
            font-family: 'PT Serif', serif;
            font-weight: bold;
            font-size: 10px;
            text-transform: uppercase;
        }
    }
}
.count-but {
    padding: 0 18px;
    &:before {
        content: '';
        display: table;
        clear: both;
    }
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    span {
        float: left;
        display: inline-block;
        background: #db7b32;
        width: 33%;
        font-size: 30px;
        color: #fff;
        line-height: 26px;
        padding: 3px 0 8px 0;
        cursor: pointer;
        position: relative;
        text-align: center;
        &:before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            left: -14px;
            border-top: 19px solid transparent;
            border-bottom: 18px solid transparent;
            border-right: 14px solid #db7b32;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        &:after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: -14px;
            border-top: 19px solid transparent;
            border-bottom: 18px solid transparent;
            border-left: 14px solid #db7b32;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        &.count-up {
            padding: 5px 0 6px 0;
            &:after {
                display: none;
            }
        }
        &.count-down {
            &:before {
                display: none;
            }
        }
        &:hover {
            &:before {
                transform: rotateY(-180deg);
            }
            &:after {
                transform: rotateY(-180deg);
            }
        }
    }
    input {
        float: left;
        border: 2px solid #db7b32;
        width: 33%;
        text-align: center;
        font-size: 18px;
        display: inline-block;
        line-height: 20px;
        padding: 7px 0 6px 0;
    }
}
.total-block {
    .total {
        color: #db7b32;
        font-size: 18px;
        font-weight: bold;
    }
}
.button-block {
margin-left: -20px;
margin-right: -20px;
position: relative;
background: #db7b32;
margin-top: 20px;
&:before {
    content:'';
    display: block;
    position: absolute;
    border-right: 2px solid #db7b32;
    bottom: -14px;
    left: -14px;
    transform: rotate(-45deg);
    background: #fff;
    width: 26px;
    height: 26px;
}
&:after {
    content:'';
    display: block;
    position: absolute;
    border-left: 2px solid #db7b32;
    bottom: -14px;
    right: -14px;
    transform: rotate(45deg);
    background: #fff;
    width: 26px;
    height: 26px;
}
a {
    display: block;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 17px 0;
}
}
#modalBuy {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 48, 89, 0.65);
    .popup-window-content {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        width: 740px;
        margin-left: -370px;
        margin-top: -155px;
        background: #fff;
        border: 2px solid #db7b32;
        border-radius: 0;
        .popup-product {
            &:before , &:after {
                content:'';
                display: table;
                clear: both;
            }
            .dop-image {

            }
            .dop-text {
                text-align: center;
                padding-top: 60px;
                font-family: 'PT Serif', serif;
                .product-item-brand {
                    font-weight: bold;
                    font-size: 12px;
                    color: #db7b32;
                    text-transform: uppercase;
                }
                .product-item-name {
                    color: #db7b32;
                    font-size: 40px;
                }
                .product-item-description {
                    font-family: 'PT Sans',sans-serif;
                    font-weight: 700;
                    color: #000;
                    font-size: 14px;
                    padding-bottom: 20px;
                    height: 60px;
                    overflow: hidden;
                }
            }
            .modal-busket-container {
                background: #fdf6f6;
                /*font-family: 'PT Sans',sans-serif;*/
                font-weight: 700;
                padding: 20px;
                .modal-basket-cout {
                    color: #db7b32;
                }
            }
        }
        .popup-window-buttons {
            text-align: center;
            padding-bottom: 30px;
            &:before , &:after {
                content:'';
                display: table;
                clear: both;
            }
            a {
                width: 80%;
                &.modal-cancel {
                    background: #fdf6f6;
                    color: #db7b32;
                    &:before {
                        border-right-color: #fdf6f6;
                    }
                    &:after {
                        border-left-color: #fdf6f6;
                    }
                }
            }
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -19px;
            bottom: 0;
            width: 22px;
            background: url(img/modal-border.png) no-repeat center left;
            background-size: cover !important;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -19px;
            bottom: 0;
            width: 22px;
            background: url(img/modal-border-r.png) no-repeat center right;
            background-size: cover !important;
        }
    }
}
.basket-item-line {
    border-bottom: 1px solid #ddd;
    &:last-child {
        border: none;
    }
    &:before , &:after {
        content: '';
        display: table;
        clear: both;
    }
    .line-item {
        float: none;
        display: inline-block;
        margin: 0 -2px;
        vertical-align: middle;
        text-align: center;
    }
    .item-image {
        img {
            display: block;
            max-width: 100%;
        }
    }
    .item-name {
        text-align: left;
        .name-head {
            text-transform: uppercase;
            color: #db7b32;
            font-size: 22px;
        }
        .name-desc {
            color: #000;
            font-size: 14px;
        }
    }
    .item-total {
        font-weight: bold;
        font-size: 22px;
        text-align: right;
        color: #000;
    }
}
.basket-total {
    background: #fbf2ea;
    margin-top: 30px;
    padding: 30px;
    margin-bottom: 30px;
    &:before , &:after {
        content: '';
        display: table;
        clear: both;
    }
    .total-promo {
        .form-group {
            position: relative;
            &:before , &:after {
                content: '';
                display: table;
                clear: both;
            }
            .inp-hexa {
                background: url(img/inp-hexa.png);
                /*background-size: cover !important;*/
                background-repeat: no-repeat;
                float: left;
                width: 213px;
                border-radius: 0;
                padding-left: 20px;
                padding-right: 4px;
                border: none;
                background-color: transparent !important;
                box-shadow: none;
                outline: none;
            }
            button {
                outline: none;
                float: left;
                border: none;
                background: #db7b32;
                position: relative;
                text-transform: uppercase;
                color: #fff;
                font-size: 10px;
                font-family: 'PT Serif', serif;
                font-weight: 700;
                padding: 10px 30px;
                &:after {
                    content: '';
                    width: 0;
                    height: 0;
                    position: absolute;
                    border-top: 17px solid transparent;
                    border-bottom: 17px solid transparent;
                    transition: all .3s ease-in-out;
                    top: 0;
                    right: -14px;
                    border-left: 14px solid #db7b32;
                }
            }
        }
    }
    .total-price {
        font-family: 'PT Sans',sans-serif;
        font-weight: 700;
        font-size: 14px;
        .total-all {
            font-size: 24px;
            font-family: 'PT Serif', serif;
            font-weight: 700;
            color: #db7b32;
        }
    }
}
.basket-button-block {
    padding-bottom: 40px;
    &:before , &:after {
        content: '';
        display: table;
        clear: both;
    }
    .but-area {
        padding-left: 20px;
        padding-right: 20px;
        .btn {
            display: inline-block;
            width: 90%;
            font-size: 18px;
            text-transform: uppercase;
            font-family: 'PT Serif', serif;
            font-weight: 700;
            color: #fff;
            &:before {
                border-top-width: 19px;
                border-bottom-width: 19px;
            }
            &:after {
                border-top-width: 19px;
                border-bottom-width: 19px;
            }
            &.btn-ur {
                color: #db7b32;
                background-color: #fbf2ea;
                &:before {
                    border-right-color: #fbf2ea;
                }
                &:after {
                    border-left-color: #fbf2ea;
                }
            }
        }
    }
}
.order-form {
    .form-group {
        .form-input {
            .hexa {
                background-image: url(img/input-bg.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 44px;
                max-width: 495px;
                border: none;
                outline: none;
                box-shadow: none;
            }
        }
        .form-label {
            color: #000;
            font-weight: 700;
            padding-left: 14px;
        }
        &.form-radio {
            padding: 12px 0;
            margin-bottom: 0;
            input {
                &.form-radio {
                    display: none;
                }
            }
            .form-label {
                color: #000;
                position: relative;
                padding-left: 40px;
                cursor: pointer;
                margin-bottom: 0;
                padding-top: 2px;
                margin-top: 2px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 23px;
                    height: 23px;
                    background: url(img/radio-bg.png) no-repeat center;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    bottom: 0;
                    width: 15px;
                    height: 15px;
                    opacity: 0;
                    background: url(img/radio-bg-act.png) no-repeat center;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
            }
            input:checked + .form-label {
                &:after {
                    opacity:1;
                }
            }
            &.bordered {
                border-top: 2px solid #fbf2ea;
                border-bottom: 2px solid #fbf2ea;
            }
        }
        &.form-checkbox {
            padding: 12px 0;
            margin-bottom: 0;
            input {
                &.form-checkbox {
                    display: none;
                }
            }
            .form-label {
                color: #000;
                position: relative;
                padding-left: 40px;
                cursor: pointer;
                margin-bottom: 0;
                padding-top: 2px;
                margin-top: 2px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 23px;
                    height: 23px;
                    background: url(img/checkbox-bg.png) no-repeat center;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    bottom: 0;
                    width: 15px;
                    height: 15px;
                    opacity: 0;
                    background: url(img/checkbox-bg-act.png) no-repeat center;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }
                a {
                    color: #db7b32;
                    text-decoration: underline;
                }
            }
            input:checked + .form-label {
                &:after {
                    opacity:1;
                }
            }
        }
        &.form-button {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-bottom: 0;
            .btn {
                display: inline-block;
                letter-spacing: 1px;
                width: 90%;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
                font-family: 'PT Serif', serif;
                font-weight: 700;
                &:before {
                    border-top-width: 19px;
                    border-bottom-width: 19px;
                }
                &:after {
                    border-top-width: 19px;
                    border-bottom-width: 19px;
                }
            }
        }
    }
    .other-order-link {
        font-family: 'PT Sans',sans-serif;
        font-weight: 700;
        font-size: 14px;
        padding-bottom: 30px;
        color: #000;
        a {
            letter-spacing: 1px;
            display: block;
            width: 100%;
            text-align: center;
            padding: 20px 0;
            color: #db7b32;
            text-decoration: underline;
            font-family: 'PT Serif', serif;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}
.order-text-column {
    padding-top: 14px;
    font-weight: 700;
    color: #000;
    font-size: 17px;
    letter-spacing: 1px;
    a {
        color: #db7b32;
        text-decoration: underline;
    }
}
.thanks-body {
    text-align: center;
    font-size: 14px;
    color: #000;
    font-family: 'PT Sans',sans-serif;
    min-height: 30vh;
    padding-top: 3vh;
    .thanks-title {
        font-size: 24px;
        padding-bottom: 30px;
        font-family: 'PT Serif', serif;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.auth-content {
    .auth-form {
        .auth-form-container {
            .form-group {
                .form-label {
                    font-size: 14px;
                    font-family: 'PT Sans',sans-serif;
                    color: #000;
                    padding: 4px 15px 0 15px;
                    .float-right {
                        color: #db7b32;
                        text-decoration: underline;
                    }
                }
                .form-input {
                    background: url(img/inp-hexa-left.png) left center no-repeat,url(img/inp-hexa-right.png) right center no-repeat;
                    padding: 5px 15px;
                    height: 44px;
                    .hexa {
                        border-radius: 0;
                        height: 44px;
                        border: none;
                        border-top: 2px solid #db7b32;
                        border-bottom: 2px solid #db7b32;
                        margin-top: -5px;
                        background: #fbf2ea;
                        box-shadow: none;
                        outline: none;
                    }
                }
                &.form-button {
                    text-align: center;
                    margin-top: 40px;
                    margin-bottom: 30px;
                    .btn {
                        display: inline-block;
                        margin: 0 auto;
                        font-size: 18px;
                        text-transform: uppercase;
                        min-width: 50%;
                        &:before , &:after {
                            border-top-width:19px;
                            border-bottom-width:19px;
                        }
                    }
                    p {

                    }
                }
            }
        }
    } 
}
.contacts-content {
    .contacts-block-header {
        color: #000;
        font-size: 24px;
        font-family: 'PT Serif', serif;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 20px;
        /*padding-top: 10px;*/
    }
    .contacts-text-line {
        font-size: 14px;
        font-family: 'PT Sans',sans-serif;
        font-weight: 700;
        color: #000;
        padding: 4px 15px 0 0px;
    }
    .contacts-map-block {
        position: relative;
        padding: 20px 6px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            background: #fff;
            width: 30px;
            height: 30px;
            left: -10px;
            z-index: 1;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 4px;
            background: #fff;
            width: 30px;
            height: 30px;
            right: -10px;
            z-index: 1;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        .contact-map {
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: 4px;
                background: #fff;
                width: 30px;
                height: 30px;
                left: -10px;
                z-index: 1;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 4px;
                background: #fff;
                width: 30px;
                height: 30px;
                right: -10px;
                z-index: 1;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
    .contacts-form {
        .form-group {
            .form-label {
                font-size: 14px;
                font-family: 'PT Sans',sans-serif;
                color: #000;
                font-weight: 700;
                padding: 15px 15px 0 15px;
                .float-right {
                    color: #db7b32;
                    text-decoration: underline;
                }
            }
            .form-input {
                background: url(img/inp-hexa-left.png) left center no-repeat,url(img/inp-hexa-right.png) right center no-repeat;
                padding: 5px 15px;
                height: 44px;
                .hexa {
                    border-radius: 0;
                    height: 44px;
                    border: none;
                    border-top: 2px solid #db7b32;
                    border-bottom: 2px solid #db7b32;
                    margin-top: -5px;
                    background: #fbf2ea;
                    box-shadow: none;
                    outline: none;
                }
                &.hexa-text {
                    background: url(img/text-hexa-left.png) left center no-repeat,url(img/text-hexa-right.png) right center no-repeat;
                    height: 114px;
                    .hexa {
                        height: 114px;
                    }
                }
            }
            &.form-button {
                text-align: center;
                margin-top: 40px;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 30px;
                .btn {
                    display: inline-block;
                    margin: 0 auto;
                    font-size: 18px;
                    text-transform: uppercase;
                    width: 100%;
                    &:before , &:after {
                        border-top-width:19px;
                        border-bottom-width:19px;
                    }
                }
                p {

                }
            }
        }
    } 
}
.history-content {
    .history-line {
        border-bottom: 2px solid #fbf2ea;
        font-family: 'PT Serif', serif;
        font-weight: 700;
        .history-number {
            padding-top: 30px;
            color: #db7b32;
            font-size: 24px;
        }
        .history-price {
            font-size: 18px;
        }
        .history-image {
            padding-right: 0;
            padding-left: 0;
            img {
                max-width: 100%;
            }
        }
        .history-title {
            padding-top: 30px;
            a {
                color: #db7b32;
                font-size: 24px;
            }
            div {
                font-size: 14px;
                font-family: 'PT Sans',sans-serif;
                padding-bottom: 20px;
            }
        }
        &:last-child {
            border: none;
        }
    }
}
.auth-content .auth-form .auth-form-container .form-group.group-title {
    font-size: 24px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    padding-top: 30px;
}
.profile-page.auth-content .auth-form .auth-form-container .form-group.form-button {
    padding-right: 15px;
    padding-left: 15px;
}
.profile-page.auth-content .auth-form .auth-form-container .form-group.form-button .btn {
    width: 100%;
}
.discount-profile {
    text-align: center;
    padding-top: 50px;
    .discount-block {
        display: inline-block;
        font-family: 'PT Serif', serif;
        font-size: 12px;
        width: 320px;
        height: 300px;
        margin: 0 auto;
        color: #db7b32;
        background: url(img/discount-profile.png) no-repeat center center;
        background-size: cover;
        letter-spacing: 1px;
        .discount-size {
            font-family: "Oranienbaum";
            font-size: 150px;
            padding-top: 20px;
            letter-spacing: 0;
        }
    }
}
.texts-content {
    padding-bottom: 50px;
    .texts-block {
        font-family: 'PT Serif', serif;
        font-size: 14px;
        color: #000;
        .texts-header {
            font-size: 24px;
            text-transform: uppercase;
            font-family: 'PT Sans',sans-serif;
            font-weight: 700;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}
@media all and (max-width: 767px) {
    .top-main-panel {
        .top-panel-after {
            overflow: hidden;
            img {
                width: 200%;
                margin-left: -50%;
            }
        }
        .logo-block {
            padding: 14px 0 14px;
        }
        .mob-menu-but {
            padding: 19px 0 19px;
            img {
                overflow: hidden;
                height: 21px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                &.act {
                    height: 0;
                }
            }
        }
        .cart-link {
            padding: 19px 0 19px;
        }
    }
    .mobile-menu {
        .top-main-panel {
            .mob-menu-but {
                img {
                    &.act {
                        height: 21px;
                    }
                    &.norm {
                        height: 0px;
                    }
                }
            }
        }
    }
    .top-main-panel .main-slogan {
        font-size: 28px;
    }
    .texts-content {
        .texts-block {
            .texts-header {
                padding-bottom: 10px;
            }
        }
    }
    .contacts-content .contacts-map-block {
        margin-left: -20px;
        margin-right: -20px;
    }
    .profile-page {
        .auth-form {
            display: table;
            table-layout: fixed;
            width: 100%;
            margin: 0;
            .auth-form-container {
                display: table-footer-group;
            }
            .discount-profile {
                display: table-header-group;
            }
        }
    }
    .history-content {
        .history-line {
            text-align: center;
            .history-title {
                a {
                    color: #db7b32;
                    font-size: 14px;
                }
            }
        }
    }
    .auth-content {
        margin-top: 30px;
    }
    .thanks-body {
        text-align: center;
        font-size: 14px;
        color: #000;
        font-family: 'PT Sans',sans-serif;
        min-height: 30vh;
        padding-top: 3vh;
        .thanks-title {
            font-size: 18px;
            padding-bottom: 30px;
            font-family: 'PT Serif', serif;
            font-weight: 700;
        }
    }
    .top-menu {
        position: absolute;
        right: 100%;
        z-index: 1000;
        top: 61px;
        width: 100%;
        background: #144880;
        min-height: calc(100vh - 62px);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        .container {
            height: calc(100vh - 62px);
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            nav {
                height: 70%;
                -webkit-box-flex: 1;
                -ms-flex: 1 auto;
                flex: 1 auto;
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                ul {
                    width: 100%;
                    display: flex;
                    -ms-flex-flow: row wrap;
                    flex-flow: row wrap;
                    height: 100%;
                    padding-top: 12vh;
                    padding-bottom: 12vh;
                    padding-left: 0;
                    li {
                        display: block;
                        width: 100%;
                        -webkit-box-flex: 1;
                        -ms-flex: 1 auto;
                        flex: 1 auto;
                        text-align: center;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        margin-right: 0;
                        a {
                            color: #fff;
                            font-size: 14px;
                            font-family: 'PT Serif', serif;
                            font-weight: 700;
                        }
                    }
                }
                &.autorized {
                    height: 60%;
                    ul {
                        /*padding-top: 0;*/
                        /*padding-bottom: 0;*/
                    }
                }
            }
            div {
                width: 100%;
                -webkit-box-flex: 1;
                -ms-flex: 1 auto;
                flex: 1 auto;
                text-align: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                &.mob-menu-phone {
                    font-family: 'PT Sans',sans-serif;
                    color: #7fa5ce;
                    letter-spacing: 1px;
                    font-size: 14px;
                    border-bottom: 1px solid #0a3059;
                    height: 50px;
                    margin-left: -20px;
                    margin-right: -20px;
                    a {
                        font-family: 'PT Serif', serif;
                        font-weight: 700;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                &.col-sm-3 {
                    margin-bottom: 10px;
                }
            }
            .bottom-autorized {
                border-top: 1px solid #0a3059;
                margin-left: -15px;
                margin-right: -15px;
                height: 30%;
                padding-top: 20px;
                padding-bottom: 0;
                ul {
                    padding-top: 0;
                    padding-bottom: 0;
                    .btn {
                        display: inline-block;
                        width: 60%;
                    }
                }
            }
        }
    }
    .mobile-menu {
        overflow: hidden;
    }
    .mobile-menu .top-menu {
        right: 0;
    }
    .top-panel {
        border-bottom: 1px solid #0a3059;
        .panel-block {
            display: none;
            padding: 14px 0;
            text-align: center !important;
            &.logo-block {
                display: block;
                img {
                    display: inline-block;
                    margin: 0 auto;
                }
            }
        }
        .mob-link {
            text-align: left;
            padding: 14px 10px;
            .mob-menu-but {
                padding-top: 5px;
                img {
                    overflow: hidden;
                    height: 21px;
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                    &.act {
                        height: 0px;
                    }
                }
            }
            .cart-link {
                padding-top: 2px;
            }
            &.text-right {
                text-align: right;
            }
        }
    }
    .mobile-menu .top-panel .mob-link .mob-menu-but img {
        &.norm {
            height: 0px;
        }
        &.act {
            height: 20px;
        }
    }
    .page-header {
        margin: 0;
        padding: 0;
        padding-top: 20px;
        .page-title {
            h1 {
                font-size: 30px;
                line-height: normal;
                margin: 0;
                font-family: "Oranienbaum";
            }
        }
    }
    .basket-item-line {
        .item-image{
            text-align: center;
            img {
                max-width: 70%;
                display: inline-block;
                margin: auto;
            }
        }
        .line-item {
            display: block;
            width: 100%;
            text-align: center !important;
            padding-top: 5px;
            padding-bottom: 5px;
        } 
        .item-name {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 14px;
            .name-head {
                font-size: 14px;
            }
        }
        .item-count {
            padding-left: 20%;
            padding-right: 20%;
        }
    }
    .basket-total {
        margin-left: -15px;
        margin-right: -15px;
        .total-promo {
            padding: 0;
            .form-group {
                .inp-hexa {
                    width: 180px;
                    height: 30px;
                    background-size: contain;
                }
                button {
                    font-size: 10px;
                    width: 80px;
                    padding: 7px 0;
                    &:after {
                        border-top-width: 14px;
                        border-bottom-width: 14px;
                    }
                }
            }
        }
        .total-price {
            text-align: center !important;
        }
    }
    .basket-button-block .but-area .btn {
        display: block;
        width: 100%;
    }
    .basket-button-block .but-area .btn.btn-ur {
        font-size: 12px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .action-block {
        padding-bottom: 190px;
        background: #f6f6f6;
        margin-left: -15px;
        margin-right: -15px;
    }
    .action-block .action-text {
        position: relative;
        width: 100%;
        font-size: 28px;
        text-align: center !important;
        padding: 0;
    }
    .action-block .action-image img {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        /*width: auto;*/
        height: 100%;
        mask-image: linear-gradient(to top, black 18%, transparent 86%);
        -moz-mask-image: linear-gradient(to top, black 18%, transparent 86%);
        -o-mask-image: linear-gradient(to top, black 18%, transparent 86%);
        -webkit-mask-image: linear-gradient(to top, black 18%, transparent 86%);
    }
    .main-action {
        margin-bottom: 0;
    }
    .footer {
        margin-top: 0;
    }
    .footer .copy ,
    .footer .social ,
    .footer .mail {
        text-align: center;
    }
    .footer-menu {
        display: none;
    }
    .page-header .page-title ,
    .page-header .page-description {
        margin-bottom: 10px;
    }
    .product-page-section .container ,
    .product-page-section .container .product-image {
        padding-left: 0;
        padding-right: 0;
    }
    .product-content .smal-image-list .small-image-item {
        width: 20%;
        float: left;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .product-content .smal-image-list.row {
        margin-left: 0;
        margin-right: 0;
    }
    .product-content .description-text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .product-content .dop-block {
        /*display: none;*/
        padding-top: 30px;
    }
    .product-content .prouct-but-block .weight-select {
        padding: 3px 40px;
        background-repeat: no-repeat;
    }
    .product-content .dop-block .dop-title {
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;
    }
    .product-content .dop-block .dop-product {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .product-content .dop-block .dop-product .dop-image img {
        max-width: 100%;
    }
    .product-content .dop-block .dop-product .dop-text {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #modalBuy .popup-window-content {
        width: 270px;
        margin-left: -135px;
        top: 30px;
        margin-top: 0;
    }
    #modalBuy .popup-window-content .popup-product .dop-image img {
        width: 100%;
    }
    #modalBuy .popup-window-content .popup-product .dop-text {
        padding-top: 0px;
        padding-right: 0;
        padding-left: 0;
    }
    #modalBuy .popup-window-content .popup-product .dop-text .product-item-name {
        line-height: 40px;
    }
    #modalBuy .popup-window-content .popup-product .dop-text .product-item-description {
        height: auto;
    }
    #modalBuy .popup-window-content .popup-product .modal-busket-container {
        padding: 10px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 10px;
    }
    #modalBuy .popup-window-content .popup-window-buttons {
        padding-bottom: 10px;
        div {
            padding-right: 0;
            padding-left: 0;
            margin-bottom: 10px;
        }
    }
    #modalBuy .popup-window-content:after, #modalBuy .popup-window-content:before {
        display: block;
        position: absolute;
        width: 25px;
        content: '';
        top: -4px;
        bottom: -4px;
    }
    #modalBuy .popup-window-content:before {
        left: -24px;
    }
    #modalBuy .popup-window-content:after {
        right: -24px;
    }
    .basket-page-section {
        .order-content {
            display: table;
            table-layout: fixed;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            .order-text-column {
                display: table-header-group;
                font-weight: normal;
                p {
                    display: block;
                    padding: 20px 15px;
                }
            }
            .order-column {
                display: table-footer-group;
                padding: 0;
                .order-form {
                    display: block;
                    width: 100%;
                    padding: 10px 15px;
                }
            }
        }
    }
    .order-form .form-group .form-input .hexa {
        /*max-width: 295px;*/
        height: auto;
        display: inline-block;
        margin: auto;
        padding: 2px 12px 12px 12px;
    }
    .order-form .form-group.form-button .btn {
        width: 100%;
    }
}
@media all and (max-width: 1024px){
    .order-form .form-group .form-input .hexa {
        height: auto;
    }
    .action-block .action-text {
        padding: 7px 16px;
        font-size: 26px;
    }
}
